
DistortionPlugin/Builds/VisualStudio2017/.vs/DistortionPlugin/v15/Browse.VC.db
DistortionPlugin/Builds/VisualStudio2017/.vs/DistortionPlugin/v15/Browse.VC.opendb
DistortionPlugin/Builds/VisualStudio2017/.vs/DistortionPlugin/v15/Solution.VC.db
DistortionPlugin/Builds/VisualStudio2017/.vs/DistortionPlugin/v15/Solution.VC.db-shm
DistortionPlugin/Builds/VisualStudio2017/.vs/DistortionPlugin/v15/Solution.VC.db-wal
DistortionPlugin/Builds/VisualStudio2017/DistortionPlugin.sln
DistortionPlugin/Builds/VisualStudio2017/DistortionPlugin_SharedCode.vcxproj
DistortionPlugin/Builds/VisualStudio2017/DistortionPlugin_SharedCode.vcxproj.filters
DistortionPlugin/Builds/VisualStudio2017/DistortionPlugin_StandalonePlugin.vcxproj
DistortionPlugin/Builds/VisualStudio2017/DistortionPlugin_StandalonePlugin.vcxproj.filters
DistortionPlugin/Builds/VisualStudio2017/DistortionPlugin_VST3.vcxproj
DistortionPlugin/Builds/VisualStudio2017/DistortionPlugin_VST3.vcxproj.filters
DistortionPlugin/Builds/VisualStudio2017/resources.rc
DistortionPlugin/JuceLibraryCode/include_juce_audio_basics.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_basics.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_devices.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_devices.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_formats.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_formats.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_AU.r
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_RTAS.r
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_1.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_2.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_3.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_4.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_utils.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_plugin_client_VST_utils.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_processors.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_processors.mm
DistortionPlugin/JuceLibraryCode/include_juce_audio_utils.cpp
DistortionPlugin/JuceLibraryCode/include_juce_audio_utils.mm
DistortionPlugin/JuceLibraryCode/include_juce_core.cpp
DistortionPlugin/JuceLibraryCode/include_juce_core.mm
DistortionPlugin/JuceLibraryCode/include_juce_data_structures.cpp
DistortionPlugin/JuceLibraryCode/include_juce_data_structures.mm
DistortionPlugin/JuceLibraryCode/include_juce_events.cpp
DistortionPlugin/JuceLibraryCode/include_juce_events.mm
DistortionPlugin/JuceLibraryCode/include_juce_graphics.cpp
DistortionPlugin/JuceLibraryCode/include_juce_graphics.mm
DistortionPlugin/JuceLibraryCode/include_juce_gui_basics.cpp
DistortionPlugin/JuceLibraryCode/include_juce_gui_basics.mm
DistortionPlugin/JuceLibraryCode/include_juce_gui_extra.cpp
DistortionPlugin/JuceLibraryCode/include_juce_gui_extra.mm
DistortionPlugin/JuceLibraryCode/JuceHeader.h
DistortionPlugin/JuceLibraryCode/JucePluginDefines.h
DistortionPlugin/JuceLibraryCode/ReadMe.txt
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/vc141.pdb
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/resources.res
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/DistortionPlugin_StandalonePlugin.log
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/DistortionPlugin.pdb
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/DistortionPlugin.ilk
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/DistortionPlugin.exe
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/rc.write.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/rc.read.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/rc.command.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/link.write.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/link.read.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/link.command.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/DistortionPlugin_StandalonePlugin.lastbuildstate
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/CL.write.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/CL.read.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/Distorti.4F7E1030.tlog/CL.command.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/PluginProcessor.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/PluginEditor.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_extra.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_basics.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_graphics.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_events.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_data_structures.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_core.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_utils.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_formats.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_devices.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_basics.obj
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/DistortionPlugin_SharedCode.pdb
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/DistortionPlugin_SharedCode.log
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/DistortionPlugin.lib
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/Distorti.55F166B7.tlog/Lib.command.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/Distorti.55F166B7.tlog/Lib-link.write.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/Distorti.55F166B7.tlog/Lib-link.read.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/Distorti.55F166B7.tlog/DistortionPlugin_SharedCode.lastbuildstate
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/Distorti.55F166B7.tlog/CL.read.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/Distorti.55F166B7.tlog/CL.command.1.tlog
DistortionPlugin/Builds/VisualStudio2017/x64/Debug/Shared Code/Distorti.55F166B7.tlog/CL.11228.write.1.tlog
DistortionPlugin/Builds/VisualStudio2017/DistortionPlugin_StandalonePlugin.vcxproj.user
DistortionPlugin/Builds/VisualStudio2017/.vs/DistortionPlugin/v15/ipch/AutoPCH/3d4805261b65db36/PLUGINEDITOR.ipch
DistortionPlugin/Builds/VisualStudio2017/.vs/DistortionPlugin/v15/ipch/AutoPCH/3b5d0fe354c12eb1/INCLUDE_JUCE_AUDIO_PROCESSORS.ipch
DistortionPlugin/Builds/VisualStudio2017/.vs/DistortionPlugin/v15/.suo
